#aboutTitle {
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  white-space: nowrap;
}

.menu-icon__line {
  background-color: rgb(0, 0, 0);
}
#langSelected {
  color: rgb(0, 0, 0);
}

#about-content {
  display: grid;
  grid-row-gap: 100px;
  grid-template-columns: 50vw auto;
}

.grid-item {
  text-align: justify;
  padding: 5%;
  position: relative;
}

.double {
  grid-column: 1 / 3;
}

.grid-item .tekst {
  font-size: 20px;
  font-weight: 300;
  /* border-top: 1px solid rgb(189, 187, 187); */
  position: relative;

  padding-top: 10%;
  margin-top: -12%;
}

.grid-item .lowerTekst {
  margin-top: -5%;
}

.inTekstList {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.grid-item .noBorder {
  border-top: none;
  font-size: 20px;
  font-weight: 300;
  position: relative;

  padding-top: 10%;
  margin-top: -12%;
}

.grid-item .lower {
  font-size: 17px;
}
.double img {
  width: 50vw;
  display: block;
  margin: auto;
  position: relative;
  margin-left: 21.5vw;
  margin-top: -11%;
  padding-top: 10%;
}

.sectionTitle {
  font-weight: 500;
  font-size: 30px;

  padding-bottom: 5vh;
  border-bottom: 1px rgb(179, 177, 177) solid;

  text-align: center;
  max-width: 60vw;
  margin: auto;
}
.sectionTitle.indexTitle {
  margin-top: 0;
}

.grid-item .sectionTitle {
  position: absolute;
  top: -15vh;
  padding-right: 10vw;
}

.sectionTitle.subtitle {
  font-size: 23px;
}

.sectionTitle.centred {
  text-align: center;
  top: -10%;
  right: 0;
  margin: auto;
  padding-right: 0;
  left: 0;
  width: 50%;
}

.grid-item img {
  position: relative;
  max-width: 90%;
  left: -0.5%;
}

/* #about-content > .grid-item .tekst::after {
  padding: 0;

  margin: 0;

  display: block; /* probably not really needed? */ /*
  content: '';
  width: 60%;
  height: 3px;
  background-color: white;
  position: absolute;
  right: 0;
  top: -2px;
} */

#about-team {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: 30vw 30vw 30vw;
  margin-bottom: 10vh;
  margin-top: 10vh;
  justify-content: center;
}

.grid-item-team {
  text-align: center;
  align-content: center;
}

.grid-item-team img {
  width: 80%;
}

.grid-item-team p {
  color: rgb(179, 178, 178);
  margin: 0;
  margin-top: 5px;
}

.about-one {
  display: block;
}
#historySVG {
  border: none;
}

.about-two .double {
  margin: 0;
}
.historyTitle {
  margin-top: 15vh;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  #about-content {
  }

  #about-bg {
    /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
    background-image: url(aboutbg.jpg);
    -webkit-background-size: auto 150%;
    background-attachment: scroll;
  }

  .double {
    grid-column: 1;
  }

  #about-content {
    grid-template-columns: auto;
  }

  #about-team {
    grid-template-columns: auto;
  }
  .grid-item .tekst {
    font-weight: 300;
  }

  .grid-item .sectionTitle {
    top: -15vh;
  }

  .sectionTitle {
    top: -15vh;
    max-width: 80vw;
    margin-bottom: 12vh;
  }

  .sectionTitle.indexTitle {
    margin-bottom: 0;
  }

  .sectionTitle.centred {
    margin-bottom: 12vh;
  }

  .grid-item img {
    max-width: 100%;
  }

  .double img {
    width: 90vw;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  #historySVG {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}
