body {
  margin-top: 25vh;
}

a:hover {
  text-decoration: none;
  color: white;
}

.containerContact {
  background-color: #800505;
  color: rgb(211, 179, 91);
  margin-top: 30vh;
  width: 100%;
  margin: auto;
}

.modal-content > .containerContact {
  display: block;
}

.containerContact h2 {
  color: rgb(231, 201, 64);
}

.formCore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

textarea {
  resize: none;
}

.form-label {
  font-size: 12px;
  color: black;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: 0.333s ease top, 0.333s ease opacity;
  transition: 0.333s ease top, 0.333s ease opacity;
}
.form-control {
  border-radius: 5px;
  border: rgb(185, 168, 168) 1px solid;
  box-shadow: none;
  background-color: #800505;
}
.form-control:focus {
  box-shadow: none;
  border-color: #69210f;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: rgb(211, 179, 91);
}
.btn-start-order {
  background: 0 0 #ffffff;
  border: 1px solid #9c1313;
  border-radius: 3px;
  color: #a52820;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: inherit;
  display: block;
  margin: auto;
  margin-bottom: 10%;

  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}

.form-control::placeholder {
  color: rgb(172, 151, 37);
}
.btn-start-order:hover,
.btn-start-order:active,
.btn-start-order:focus {
  border-color: #cfa73a;
  color: #f3bc46;
}

#wechatWrapper {
  text-align: center;
}
.wechatTitle {
  padding-bottom: 3vh;
  border-bottom: 1px rgb(173, 172, 172) solid;
  text-align: center;
  width: 50vw;
  margin: auto;
}
#wechatWrapper img {
  width: 20vw;
  display: block;
  margin: auto;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

#leafletMap {
  display: block;
  width: 60vw;
  height: 60vh;
  margin: auto;
  margin-bottom: 10vh;
}

.grid-container {
  margin: 5vw;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '\31  \32  \33 ';
}

.grid-container div {
  max-width: 30vw;
}
#wechatImg {
  width: 50%;
}

.\31 {
  grid-area: \31;
}

.\32 {
  grid-area: \32;
}

.\33 {
  grid-area: \33;
}
.leaflet-control-attribution {
  display: none;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 15;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 30vh;
  width: 20vw; /* Full width */
  height: 50vw; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  z-index: 18;
}

/* Modal Content */
.modal-content {
  background-color: #800505;
  position: relative;
  padding: 0;
  border: 1px solid #888;
  width: 20vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close-modal {
  width: 10%;
  color: white;
  float: right;
  font-size: 40px;
  margin: 0;
  padding: 0;
  background-color: #800505;
  line-height: 30px;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* END OF MODAL */
/* MOBILE BELOW */

@media screen and (max-width: 760px) {
  #addressMap {
    text-align: center;
    margin-top: 5%;
  }
  #leafletMap {
    width: 80vw;
  }

  .modal {
    display: none !important;
  }

  .containerContact {
    margin-top: 20vh;
    background-color: white;
    border: #800505 solid 1px;
    border-radius: 5px;
  }

  .btn-start-order {
    color: gold;
    background: #800505;
  }
  #wechatTitle {
    width: 50vw;
  }

  #wechatImg {
    width: 50%;
  }
  .containerContact {
    margin-top: 30vh;
    width: 100vw;
  }

  .\31,
  .\32,
  .\33 {
    grid-area: 'mobileArea';
  }

  .grid-container div {
    min-width: 80vw;
  }
  .grid-container {
    grid-template-areas: 'mobileArea';
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 10vh;
  }
}

/* Desktop only */
@media screen and (min-width: 761px) {
  #mapContainer {
    display: inline-block;
  }
  #leafletMap {
    margin-top: 2%;
    display: inline-block;
    width: 35vw;
    height: 35vh;
    margin-left: 40vw;
  }

  .mapTitle {
    margin-left: 40vw;
    margin-top: -25%;
    font-size: 20px;
  }

  #addressMap {
    display: inline-block;
    float: right;
    text-align: center;
    margin-top: 9%;
    padding-left: 3vw;
  }
}
