a:hover {
  text-decoration: none;
  color: white;
}

.containerContact {
  margin-top: 30vh;
}

.containerContact h2 {
  color: rgb(231, 201, 64);
}

.formCore {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  resize: none;
}

.form-label {
  font-size: 12px;
  color: #8b3e1b;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: 0.333s ease top, 0.333s ease opacity;
  transition: 0.333s ease top, 0.333s ease opacity;
}
.form-control {
  border-radius: 0;
  border-color: rgb(180, 67, 67);
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #69210f;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: rgb(211, 179, 91);
}
.btn-start-order {
  background: 0 0 #ffffff;
  border: 1px solid #9c1313;
  border-radius: 3px;
  color: #a52820;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}

.form-control::placeholder {
  color: rgb(172, 151, 37);
}
.btn-start-order:hover,
.btn-start-order:active,
.btn-start-order:focus {
  border-color: #cfa73a;
  color: #f3bc46;
}

#wechatWrapper {
  text-align: center;
}
#wechatTitle {
  padding-bottom: 3vh;
  border-bottom: 1px rgb(173, 172, 172) solid;
  text-align: center;
  width: 20vw;
  margin: auto;
}
#wechatWrapper img {
  width: 20vw;
  display: block;
  margin: auto;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

#leafletMap {
  display: block;
  width: 60vw;
  height: 60vh;
  margin: auto;
  margin-bottom: 10vh;
}

.grid-container {
  margin: 5vw;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '\31  \32  \33 ';
}

.grid-container div {
  max-width: 30vw;
}
#wechatImg {
  width: 100%;
}

.\31 {
  grid-area: \31;
}

.\32 {
  grid-area: \32;
}

.\33 {
  grid-area: \33;
}

/* MOBILE BELOW */

@media screen and (max-width: 760px) {
  #leafletMap {
    width: 80vw;
  }

  .containerContact {
    margin-top: 20vh;
  }
}
