#mainTextHeader {
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 3vw;
  font-size: 30px;
}

#mainPageDesc p {
  text-align: justify;
  width: 60vw;
  margin: auto;
  line-height: 4vh;
  font-size: 20px;
  margin-bottom: 2em;
}

#mainPageDesc p:first-of-type {
  border-top: 1px solid rgba(128, 128, 128, 0.603);
  padding-top: 2vh;
}

#mainPageDesc {
  margin-bottom: 10vh;
}

video {
  background: transparent url('../images/poster.jpg') 50% 50% / cover no-repeat;
}

.slider-div {
  cursor: pointer;
}
.slider-div > div > img {
  transition: 1s;
}
.slider-div > div > img:hover {
  filter: brightness(80%);
}

#arrowDownContainer {
  width: 3vw;
  display: block;
  margin: auto;
}

#arrowDownContainer img {
  animation: 5s pulse infinite;
  width: inherit;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  #home-bg {
    /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
    background-image: url(/images/homebg.jpg);
  }

  .desc {
    margin-top: 10vh;
  }
  #arrowDownContainer {
    display: none;
  }
}
