#cAbout {
  margin-top: 0;
}

.slider.wine-slider {
  margin-top: -20vh;
  margin-bottom: -15vh;
}

/* TABLET AND MOBILE SPECIFICALLY */
@media screen and (max-width: 813px) {
  #cAbout {
    margin-top: 10vh;
  }
  .slider.wine-slider {
    margin-bottom: 0vh;
  }

  #about-content.wine-content {
    margin-top: 30vh;
  }
}
