#cAbout {
  margin-top: 0;
}

/* .slider-div {
  height: 46.5%;
} */
body {
  margin-top: 25vh;
}

/* TABLET AND MOBILE SPECIFICALLY */
@media screen and (max-width: 813px) {
  #cAbout {
    margin-top: 10vh;
  }
  .slider.wine-slider {
    margin-top: -18vh;
    margin-bottom: 20vh;
  }

  #about-content.wine-content {
    /* margin-top: 30vh; */
  }
}
